In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

_30k_main_palette_dict = {
    "blue": "#202F66",
    "orange": "#FF7048",
    "purple": "#8B87EA",
    "pink": "#D869AB",
    "cyan": "#54C9B9",
    "yellow": "#F3D36E",
}

_30k_danger_safe_palette_dict = {
    "danger": "#FF4F72",
    "safe": "#58EDB9",
}

_30k_text_palette_dict = {
    "text_black": "#32363A",
    "text_lighter1": "#6F7273",
    "text_lighter2": "#8B8E8F",
    "bg_cream": "#FAF7F4"
}

_font_mono = "Inconsolata"
_font_serif = "Canela"
_font_sans = "Gill Sans Nova"

plt.style.use("./utils/minus_thirty_k.mplstyle")

_30k = list(_30k_main_palette_dict.values())
sns.set_palette(_30k)

import warnings

warnings.filterwarnings('ignore')

# Let's look at each coloum in tweets csv

In [2]:
df = pd.read_csv("./data/tweets_2019-2020.csv")
users = pd.read_csv("./data/users_2019-2020.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21364 entries, 0 to 21363
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tweetid                   21364 non-null  int64
 1   userid                    21364 non-null  object
 2   user_display_name         21364 non-null  object
 3   user_screen_name          21364 non-null  object
 4   user_reported_location    1386 non-null   object
 5   user_profile_description  7781 non-null   object
 6   user_profile_url          0 non-null      float64
 7   follower_count            21364 non-null  int64
 8   following_count           21364 non-null  int64
 9   account_creation_date     21364 non-null  object
 10  account_language          21364 non-null  object
 11  tweet_language            21364 non-null  object
 12  tweet_text                21364 non-null  object
 13  tweet_time                21364 non-null  object
 14  tweet_client_name         21364 non-null  object
 15  in_reply_to_userid        6853 non-null   object
 16  in_reply_to_tweetid       6844 non-null   float64
 17  quoted_tweet_tweetid      3010 non-null   float64
 18  is_retweet                21364 non-null  bool
 19  retweet_userid            437 non-null    object
 20  retweet_tweetid           11199 non-null  float64
 21  latitude                  21364 non-null  object
 22  longitude                 21364 non-null  object
 23  quote_count               21364 non-null  int64
 24  reply_count               21364 non-null  int64
 25  like_count                21364 non-null  int64
 26  retweet_count             21364 non-null  int64
 27  hashtags                  21364 non-null  object
 28  urls                      21364 non-null  object
 29  user_mentions             21364 non-null  object
dtypes: bool(1), float64(4), int64(7), object(18)
memory usage: 4.7+ MB

In [4]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   userid                    454 non-null    object
 1   user_display_name         454 non-null    object
 2   user_screen_name          454 non-null    object
 3   user_reported_location    19 non-null     object
 4   user_profile_description  172 non-null    object
 5   user_profile_url          0 non-null      float64
 6   follower_count            454 non-null    int64
 7   following_count           454 non-null    int64
 8   account_creation_date     454 non-null    object
 9   account_language          454 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 35.6+ KB

# Sampling data from tweets dataframe

In [5]:
samples = df.sample(10)
samples

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,retweet_tweetid,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions
4950,1219807233506037760,35ZGkfndbjvmzELgmjltkFZWG9Rr7s8CEK24b0VTkE=,35ZGkfndbjvmzELgmjltkFZWG9Rr7s8CEK24b0VTkE=,35ZGkfndbjvmzELgmjltkFZWG9Rr7s8CEK24b0VTkE=,NaN,NaN,NaN,3,12,2019-12-24,...,1.219523e+18,absent,absent,0,0,0,0,[],[],['1196284294282412037']
13324,1228212933944995842,ax3KHO6QEkt0xgzb0x3QD0A36utSelgMNAGjGjQDoo=,ax3KHO6QEkt0xgzb0x3QD0A36utSelgMNAGjGjQDoo=,ax3KHO6QEkt0xgzb0x3QD0A36utSelgMNAGjGjQDoo=,NaN,‡πÄ‡∏Ñ‡∏¢‡πÇ‡∏î‡∏ô‡∏Å‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏™‡∏≤‡∏ó‡∏à‡∏ô‡πÇ‡∏°‡πÇ‡∏´‡∏°‡∏±‡πâ‡∏¢,NaN,2,28,2019-12-04,...,NaN,absent,absent,0,0,0,0,[],[],['1114818760135696385']
536,1227149921427410944,AY56F7lcfIPCx1p6y5EFqbfw3CfIBpQLhW6oVmcI7og=,AY56F7lcfIPCx1p6y5EFqbfw3CfIBpQLhW6oVmcI7og=,AY56F7lcfIPCx1p6y5EFqbfw3CfIBpQLhW6oVmcI7og=,NaN,NaN,NaN,5,42,2020-01-14,...,NaN,absent,absent,0,0,0,0,[],[],[]
21183,1228540634220261376,RuevkISURxn7iI5kcJyOr30GLIUqCBgNnUZGxM2NmyA=,RuevkISURxn7iI5kcJyOr30GLIUqCBgNnUZGxM2NmyA=,RuevkISURxn7iI5kcJyOr30GLIUqCBgNnUZGxM2NmyA=,NaN,NaN,NaN,1,23,2019-12-08,...,NaN,absent,absent,0,0,0,1,[],[],['229313308']
19187,1229647307513221121,GvHDvkTr08nE60chHxTk5s9t22AkrO7IIDEFGHvp6Rg=,GvHDvkTr08nE60chHxTk5s9t22AkrO7IIDEFGHvp6Rg=,GvHDvkTr08nE60chHxTk5s9t22AkrO7IIDEFGHvp6Rg=,NaN,NaN,NaN,6,66,2020-01-09,...,NaN,absent,absent,0,0,0,0,['‡∏¢‡∏∏‡∏ö‡∏û‡∏£‡∏£‡∏Ñ‡∏≠‡∏ô‡∏≤‡∏Ñ‡∏ï‡πÉ‡∏´‡∏°‡πà'],[],['92222661']
1044,1194111520587812864,r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=,r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=,r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=,NaN,NaN,NaN,3,32,2019-11-06,...,NaN,absent,absent,0,0,0,0,[],['https://mgronline.com/pjkkuan/detail/9620000...,[]
4876,1224160122940735488,rsyTZunQSHD0wcGmbSadRR+9Eo70CSUGQ1uT5i0B+Sg=,rsyTZunQSHD0wcGmbSadRR+9Eo70CSUGQ1uT5i0B+Sg=,rsyTZunQSHD0wcGmbSadRR+9Eo70CSUGQ1uT5i0B+Sg=,NaN,araaaa....~~~,NaN,4,50,2020-01-14,...,1.223950e+18,absent,absent,0,0,0,0,[],[],['1209016973675253760']
3448,1227846901296324608,SpWJHosGzkEHFgtaqyvHJzGtNn3Xs+r4N4DfTIEYsI=,SpWJHosGzkEHFgtaqyvHJzGtNn3Xs+r4N4DfTIEYsI=,SpWJHosGzkEHFgtaqyvHJzGtNn3Xs+r4N4DfTIEYsI=,NaN,‡∏ó‡∏∏‡∏Å‡πÄ‡∏£‡∏∑‡πà‡∏≠‡∏á‡∏£‡∏≤‡∏ß,NaN,5,53,2019-12-06,...,NaN,absent,absent,0,2,2,1,[],[],"['1091362173459214337', '980807795464220672']"
2155,1231184539101233152,PfVJncRffWlMwnrOft1dUZkV97IRnjlUTPqQQx5szHE=,PfVJncRffWlMwnrOft1dUZkV97IRnjlUTPqQQx5szHE=,PfVJncRffWlMwnrOft1dUZkV97IRnjlUTPqQQx5szHE=,NaN,NaN,NaN,3,7,2019-12-08,...,NaN,absent,absent,0,0,0,0,[],[],"['4711233222', '199992361']"
4549,1230703650168688641,zWXEXafRx2edxmywiQFD38NKzFMaTzGzjQO1IgMisgs=,zWXEXafRx2edxmywiQFD38NKzFMaTzGzjQO1IgMisgs=,zWXEXafRx2edxmywiQFD38NKzFMaTzGzjQO1IgMisgs=,NaN,‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡∏ô‡∏î‡∏µ‡∏Ñ‡πà‡∏∞,NaN,0,4,2019-12-06,...,NaN,absent,absent,0,0,0,0,[],[],"['14093581', '1114545336997933056']"

In [6]:
# print more details by

# for i in range(3):
#     print(samples.iloc[i])

## Retweet Data

In [7]:
rt = (df[df['is_retweet'] == 1]).sample(10)

In [8]:
rt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 5823 to 17723
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tweetid                   10 non-null     int64
 1   userid                    10 non-null     object
 2   user_display_name         10 non-null     object
 3   user_screen_name          10 non-null     object
 4   user_reported_location    0 non-null      object
 5   user_profile_description  2 non-null      object
 6   user_profile_url          0 non-null      float64
 7   follower_count            10 non-null     int64
 8   following_count           10 non-null     int64
 9   account_creation_date     10 non-null     object
 10  account_language          10 non-null     object
 11  tweet_language            10 non-null     object
 12  tweet_text                10 non-null     object
 13  tweet_time                10 non-null     object
 14  tweet_client_name         10 non-null     object
 15  in_reply_to_userid        0 non-null      object
 16  in_reply_to_tweetid       0 non-null      float64
 17  quoted_tweet_tweetid      1 non-null      float64
 18  is_retweet                10 non-null     bool
 19  retweet_userid            0 non-null      object
 20  retweet_tweetid           10 non-null     float64
 21  latitude                  10 non-null     object
 22  longitude                 10 non-null     object
 23  quote_count               10 non-null     int64
 24  reply_count               10 non-null     int64
 25  like_count                10 non-null     int64
 26  retweet_count             10 non-null     int64
 27  hashtags                  10 non-null     object
 28  urls                      10 non-null     object
 29  user_mentions             10 non-null     object
dtypes: bool(1), float64(4), int64(7), object(18)
memory usage: 2.4+ KB

In [9]:
rt[['tweet_text', 'is_retweet', 'retweet_userid', 'retweet_tweetid', 'quoted_tweet_tweetid', 'user_mentions']]

,tweet_text,is_retweet,retweet_userid,retweet_tweetid,quoted_tweet_tweetid,user_mentions
5823,RT @TheStandardPOP: ‡∏Å‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏∞‡πÑ‡∏î‡πâ‡∏£‡∏π‡πâ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏ï...,True,NaN,1.228584e+18,NaN,['998509048273125376']
6452,RT @Army4PR: ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏£‡∏≤‡∏©‡∏è‡∏£‡πå ‡∏£‡∏±‡∏ê ‡∏£‡πà‡∏ß‡∏°‡πÉ‡∏à ‡∏ä‡πà‡∏ß‡∏¢‡∏†‡∏±‡∏¢‡πÅ...,True,NaN,1.224177e+18,NaN,['1212591967080574977']
6472,RT @Ch7HDNews: üìå #‡∏≠‡∏±‡∏à‡∏â‡∏£‡∏¥‡∏¢‡∏∞ ‡∏á‡∏±‡∏î‡∏´‡∏•‡∏±‡∏Å‡∏ê‡∏≤‡∏ô ‡∏û‡∏≤‡∏ó‡∏´‡∏≤‡∏£‡∏ä‡∏±...,True,NaN,1.230023e+18,NaN,['2436789440']
2450,"RT @army2pr: ""‡∏à‡∏∞‡∏°‡∏≠‡∏á‡∏ú‡πà‡∏≤‡∏ô‡πÄ‡∏•‡∏ô‡∏™‡πå..‡∏´‡∏£‡∏∑‡∏≠..‡∏°‡∏≠‡∏á‡∏ú‡πà‡∏≤‡∏ô‡∏ï‡∏≤....",True,NaN,1.231401e+18,NaN,['1214742430601187328']
6371,RT @KengPongpat: ‡∏≠‡∏±‡∏û‡πÄ‡∏î‡∏ï‡∏•‡πà‡∏≤‡∏™‡∏∏‡∏î‡∏°‡∏µ‡∏Ñ‡∏ô‡∏≠‡∏≠‡∏Å‡∏°‡∏≤‡πÑ‡∏î‡πâ‡πÅ‡∏•‡πâ‡∏ß‡∏ö...,True,NaN,1.226169e+18,NaN,['1899501822']
7940,RT @peonypaloy: ‡∏ó‡∏∏‡∏Å‡∏≠‡∏¢‡πà‡∏≤‡∏á‡∏ö‡∏≤‡∏á‡∏ó‡∏µ‡∏°‡∏±‡∏ô‡∏Å‡πá‡∏°‡∏µ‡πÄ‡∏´‡∏ï‡∏∏‡∏ú‡∏• ‡∏ñ‡∏∂‡∏á...,True,NaN,1.226547e+18,1.226372e+18,['41085231']
12899,RT @WassanaNanuam: ‡∏ú‡∏π‡πâ‡πÄ‡∏™‡∏µ‡∏¢‡∏™‡∏•‡∏∞!!\n\n‡πÅ‡∏û‡∏ó‡∏¢‡πå ‡πÄ‡∏à‡πâ‡∏≤...,True,NaN,1.224705e+18,NaN,['267243786']
14221,RT @saeplay1: ‡∏Ç‡∏≥‡∏à‡∏ô‡∏ó‡πâ‡∏≠‡∏á‡πÅ‡∏Ç‡πá‡∏á‡πÄ‡∏•‡∏¢‡∏Ñ‡∏∏‡∏ì\n\n‡∏Ç‡∏ô‡∏≤‡∏î‡∏ô‡∏≤‡∏¢‡∏Å‡∏£‡∏±...,True,NaN,1.209385e+18,NaN,['1203940848167047170']
17834,RT @armypr_news: 8 ‡∏Å.‡∏û.63\n‡∏¢‡∏±‡∏á‡πÅ‡∏à‡∏Å‡∏≠‡∏¢‡∏π‡πà‡∏ô‡∏∞\n\n#‡∏´‡∏ô...,True,NaN,1.225928e+18,NaN,['229313308']
17723,RT @armypr_news: ‡∏ó‡∏´‡∏≤‡∏£‡∏û‡∏£‡∏≤‡∏ô ‡∏Ñ‡∏ß‡∏ö‡∏Ñ‡∏∏‡∏°‡πÑ‡∏ü‡∏õ‡πà‡∏≤\n\n‡∏ö‡πà‡∏≤‡∏¢‡∏ß...,True,NaN,1.225791e+18,NaN,['229313308']

In [10]:
for i in range(3):
    print(rt.iloc[i]['tweet_text'])

RT @TheStandardPOP: ‡∏Å‡πà‡∏≠‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏∞‡πÑ‡∏î‡πâ‡∏£‡∏π‡πâ‡∏ú‡∏•‡∏Å‡∏≤‡∏£‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏ï‡∏±‡πâ‡∏á‡∏Ñ‡∏£‡∏±‡πâ‡∏á‡∏ô‡∏µ‡πâ‡∏û‡∏£‡πâ‡∏≠‡∏°‡∏Å‡∏±‡∏ô‡πÉ‡∏ô‡∏ß‡∏±‡∏ô‡∏ó‡∏µ‡πà 22 ‡∏°‡∏µ‡∏ô‡∏≤‡∏Ñ‡∏° 2563 THE STANDARD POP ‡∏Ç‡∏≠‡∏û‡∏≤‡∏ó‡∏∏‡∏Å‡∏Ñ‡∏ô‡∏¢‡πâ‡∏≠‡∏ô‡∏Å‡∏•‡∏±‡∏ö‡πÑ‡∏õ‡∏™‡∏π‡πà‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤‡∏õ‡∏£‡∏∞‚Ä¶
RT @Army4PR: ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏£‡∏≤‡∏©‡∏è‡∏£‡πå ‡∏£‡∏±‡∏ê ‡∏£‡πà‡∏ß‡∏°‡πÉ‡∏à ‡∏ä‡πà‡∏ß‡∏¢‡∏†‡∏±‡∏¢‡πÅ‡∏•‡πâ‡∏á ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏ö‡∏£‡∏£‡πÄ‡∏ó‡∏≤‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏î‡∏∑‡∏≠‡∏î‡∏£‡πâ‡∏≠‡∏ô‡πÉ‡∏´‡πâ‡∏Å‡∏±‡∏ö‡∏õ‡∏£‡∏∞‡∏ä‡∏≤‡∏ä‡∏ô

‡∏´‡∏ô‡πà‡∏ß‡∏¢ ‡∏û‡∏±‡∏ô.‡∏™‡∏ö‡∏£.24 ‡∏ö‡∏ä‡∏£.4 ‡πÅ‡∏•‡∏∞‡∏û‡∏±‡∏ô.‡∏ã‡∏ö‡∏£.24 ‡∏ö‡∏ä‡∏£.4 ‡∏£‡πà‡∏ß‡∏°‡πÇ‡∏Ñ‡∏£‚Ä¶
RT @Ch7HDNews: üìå #‡∏≠‡∏±‡∏à‡∏â‡∏£‡∏¥‡∏¢‡∏∞ ‡∏á‡∏±‡∏î‡∏´‡∏•‡∏±‡∏Å‡∏ê‡∏≤‡∏ô ‡∏û‡∏≤‡∏ó‡∏´‡∏≤‡∏£‡∏ä‡∏±‡πâ‡∏ô‡∏ú‡∏π‡πâ‡∏ô‡πâ‡∏≠‡∏¢ ‡∏ö‡∏∏‡∏Å‡∏£‡πâ‡∏≠‡∏á ‡∏õ‡∏ó‡∏™. ‡∏´‡∏•‡∏±‡∏á‡∏ñ‡∏π‡∏Å‡∏´‡∏•‡∏≠‡∏Å‡∏Ç‡∏≤‡∏¢‡∏ö‡πâ‡∏≤‡∏ô‡∏ö‡∏ô‡∏ó‡∏µ‡πà‡∏î‡∏¥‡∏ô‡∏õ‡πà‡∏≤‡∏™‡∏á‡∏ß‡∏ô
‡∏Ñ‡∏•‡∏¥‡∏Å‡∏≠‡πà‡∏≤‡∏ô‡∏Ç‡πà‡∏≤‡∏ß : https://t.co/usZ5BEny‚Ä¶

### The `tweet_text` column of a retweet will be

```
RT @retweet_user_id : ...original text...
```

we can extract the `@id` by using regex

## Quote Tweet Data

In [11]:
qt = (df[~df['quoted_tweet_tweetid'].isna()]).sample(10)

qt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 8509 to 19903
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tweetid                   10 non-null     int64
 1   userid                    10 non-null     object
 2   user_display_name         10 non-null     object
 3   user_screen_name          10 non-null     object
 4   user_reported_location    0 non-null      object
 5   user_profile_description  4 non-null      object
 6   user_profile_url          0 non-null      float64
 7   follower_count            10 non-null     int64
 8   following_count           10 non-null     int64
 9   account_creation_date     10 non-null     object
 10  account_language          10 non-null     object
 11  tweet_language            10 non-null     object
 12  tweet_text                10 non-null     object
 13  tweet_time                10 non-null     object
 14  tweet_client_name         10 non-null     object
 15  in_reply_to_userid        0 non-null      object
 16  in_reply_to_tweetid       0 non-null      float64
 17  quoted_tweet_tweetid      10 non-null     float64
 18  is_retweet                10 non-null     bool
 19  retweet_userid            0 non-null      object
 20  retweet_tweetid           1 non-null      float64
 21  latitude                  10 non-null     object
 22  longitude                 10 non-null     object
 23  quote_count               10 non-null     int64
 24  reply_count               10 non-null     int64
 25  like_count                10 non-null     int64
 26  retweet_count             10 non-null     int64
 27  hashtags                  10 non-null     object
 28  urls                      10 non-null     object
 29  user_mentions             10 non-null     object
dtypes: bool(1), float64(4), int64(7), object(18)
memory usage: 2.4+ KB

In [12]:
qt[['tweet_text', 'is_retweet', 'retweet_userid', 'retweet_tweetid', 'quoted_tweet_tweetid', 'user_mentions']]

,tweet_text,is_retweet,retweet_userid,retweet_tweetid,quoted_tweet_tweetid,user_mentions
8509,RT @Kea_New: ‡∏à‡∏≥‡πÑ‡∏ß‡πâ ‡∏ô‡∏∞‡πÑ‡∏≠‡πâ‡∏ó‡∏≠‡∏ô\n‡∏°‡∏£‡∏∂‡∏á‡∏≠‡∏¢‡πà‡∏≤‡∏´‡∏≠‡∏ô ‡∏≠‡∏¢‡πà‡∏≤‡πÄ...,True,NaN,1.212617e+18,1.212615e+18,['1135887200']
1112,‡∏´‡∏¢‡∏∏‡∏î‡∏Å‡πà‡∏≠‡∏ô‡∏°‡∏±‡πâ‡∏¢‡∏¢‡∏¢‡∏¢,False,NaN,NaN,1.197100e+18,[]
18252,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢‡∏î‡∏µ‡∏Ç‡∏∂‡πâ‡∏ô‡πÅ‡∏•‡πâ‡∏ß‡∏Ñ‡∏∞,False,NaN,NaN,1.229261e+18,[]
18222,‡∏Ç‡∏≠‡∏≠‡∏¢‡πà‡∏≤‡πÑ‡∏î‡πâ‡πÄ‡∏õ‡∏µ‡∏¢‡∏ö‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ô‡πÄ‡∏•‡∏¢‡∏Ñ‡∏∞,False,NaN,NaN,1.227752e+18,[]
452,‡∏î‡∏π‡πÅ‡∏•‡∏ú‡∏π‡πâ‡∏ô‡πâ‡∏≠‡∏¢,False,NaN,NaN,1.230406e+18,[]
19915,‡∏Ç‡∏≠‡πÑ‡∏´‡πâ‡∏£‡πà‡∏ß‡∏°‡∏°‡∏∑‡∏≠‡∏Å‡∏±‡∏ô‡∏ô‡∏∞‡∏Ñ‡∏∞,False,NaN,NaN,1.225241e+18,[]
374,‡πÄ‡∏õ‡πá‡∏ô‡∏Å‡∏≥‡∏•‡∏±‡∏á‡πÉ‡∏à‡πÉ‡∏´‡πâ ‡∏ô‡∏≤‡∏¢‡∏Å‡πÑ‡∏õ‡∏ï‡πà‡∏≠ ‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏û‡∏±‡∏í‡∏ô‡∏≤‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡∏ô‡∏∞‡∏Ñ‡∏£‡∏±‡∏ö,False,NaN,NaN,1.233239e+18,[]
1291,‡∏à‡∏±‡∏î‡∏â‡∏≤‡∏Å ‡∏ó‡∏≥‡∏ö‡∏±‡∏î‡∏™‡∏µ ‡πÑ‡∏°‡πà‡πÄ‡∏Ñ‡∏≤‡∏£‡∏û‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà ‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ñ‡∏ß‡∏≤‡∏°‡∏≠‡∏±‡∏ö‡∏≠‡∏≤‡∏¢...,False,NaN,NaN,1.207532e+18,[]
1142,‡∏û‡∏≠‡∏™‡∏π‡πâ‡πÑ‡∏°‡πà‡πÑ‡∏î‡πâ ‡∏Å‡πá‡∏ß‡πà‡∏≤‡πÄ‡∏Ç‡∏≤‡πÅ‡∏ö‡∏ö‡∏ô‡∏±‡πâ‡∏ô‡πÅ‡∏ö‡∏ö‡∏ô‡∏µ‡πâ ‡∏û‡∏ß‡∏Å‡∏´‡∏±‡∏ß‡∏Ñ‡∏ß‡∏¢ ‡∏à‡∏±...,False,NaN,NaN,1.233242e+18,[]
19903,‡πÄ‡∏£‡∏∑‡∏≠‡∏û‡∏£‡∏∞‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πà‡∏á ‡∏á‡∏î‡∏á‡∏≤‡∏° ‡∏ï‡∏£‡∏∞‡∏Å‡∏≤‡∏£‡∏ï‡∏≤ ‡∏ó‡∏∏‡∏Å‡∏•‡∏≥ \n\n#‡∏ß‡∏±‡∏ô‡πÅ‡∏´...,False,NaN,NaN,1.205092e+18,[]

```
tweetid                                                   1203501740097556481
userid                            eYGM57PwXQuFa9QboVbGOIxeSm7A2P8oqxAiSaFvLc=
user_display_name                 eYGM57PwXQuFa9QboVbGOIxeSm7A2P8oqxAiSaFvLc=
user_screen_name                  eYGM57PwXQuFa9QboVbGOIxeSm7A2P8oqxAiSaFvLc=
user_reported_location                                                    NaN
user_profile_description                                        away form you
user_profile_url                                                          NaN
follower_count                                                              0
following_count                                                            10
account_creation_date                                              2019-12-07
account_language                                                           en
tweet_language                                                             th
tweet_text                  RT @Fucking_Hero: RT @BENJAMINT1N: ‡∏™‡∏±‡∏õ‡∏î‡∏≤‡∏´‡πå‡∏ô‡∏µ‡πâ‡∏≠...
tweet_time                                                2019-12-08 02:29:00
tweet_client_name                                             Twitter Web App
in_reply_to_userid                                                        NaN
in_reply_to_tweetid                                                       NaN
quoted_tweet_tweetid                                    1203305242831384576.0
is_retweet                                                               True
retweet_userid                                                            NaN
retweet_tweetid                                         1203328248681119488.0
latitude                                                               absent
longitude                                                              absent
quote_count                                                                 0
reply_count                                                                 0
like_count                                                                  0
retweet_count                                                               0
hashtags                                                ['DoYouFHEROxBamBam']
urls                                                                       []
user_mentions                              ['53449562', '806740320704598017']
Name: 16126, dtype: object
```

The second `RT @BENJAMINT1N` is manually typed by a user `@Fucking_Hero`

## Retweet a Quoted Tweet

```
tweetid                                                   1226763360785461248
userid                           8crTeO0XjreawKU5icKZVpKyaGdB4vo9LcprMCo3XQc=
user_display_name                8crTeO0XjreawKU5icKZVpKyaGdB4vo9LcprMCo3XQc=
user_screen_name                 8crTeO0XjreawKU5icKZVpKyaGdB4vo9LcprMCo3XQc=
user_reported_location                                                    NaN
user_profile_description                                                sosad
user_profile_url                                                          NaN
follower_count                                                              1
following_count                                                            67
account_creation_date                                              2019-12-06
account_language                                                           en
tweet_language                                                             th
tweet_text                  RT @ARMdhiravath: ‡∏Ñ‡∏ô‡πÑ‡∏Ç‡πâ‡πÉ‡∏ô‡∏û‡∏£‡∏∞‡∏≠‡∏á‡∏Ñ‡πå!! "‡∏û‡∏£‡∏∞‡∏ö‡∏≤‡∏ó‡∏™‡∏°‡πÄ‡∏î...
tweet_time                                                2020-02-10 07:02:00
tweet_client_name                                          Twitter for iPhone
in_reply_to_userid                                                        NaN
in_reply_to_tweetid                                                       NaN
quoted_tweet_tweetid                                    1226481675850276864.0
is_retweet                                                               True
retweet_userid                                                            NaN
retweet_tweetid                                         1226488249343864832.0
latitude                                                               absent
longitude                                                              absent
quote_count                                                                 0
reply_count                                                                 0
like_count                                                                  0
retweet_count                                                               0
hashtags                                                                   []
urls                                                                       []
user_mentions                                                    ['61995183']
```

This user retweeted the quote tweet, as you can see from `quoted_tweet_tweetid` = not-nan and `is_retweet` = True.

## user id in `tweet_text` can be hashed


```
RT @r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=: ‡∏ä‡∏µ‡πâ‡πÄ‡∏™‡∏£‡∏µ‡∏û‡∏¥‡∏®‡∏∏‡∏ó‡∏ò‡πå‡∏û‡∏§‡∏ï‡∏¥‡∏Å‡∏£‡∏£‡∏°‡πÑ‡∏°‡πà‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡πÑ‡∏°‡πâ‡πÅ‡∏Ç‡πá‡∏á‡πÄ‡∏™‡∏ô‡∏≠‡∏õ‡∏•‡∏î‡∏û‡πâ‡∏ô‡πÄ‡∏Å‡πâ‡∏≤‡∏≠‡∏µ‡πâ‡∏õ‡∏£‡∏∞‡∏ò‡∏≤‡∏ô‡∏Å‡∏°‡∏ò.20 ‡∏û.‡∏¢.‡∏ô‡∏µ‡πâ https://t.co/vGVoPFNXtu
```


```
tweetid                                                   1195160250099228672
userid                             r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=
user_display_name                  r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=
user_screen_name                   r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=
user_reported_location                                                    NaN
user_profile_description                                                  NaN
user_profile_url                                                          NaN
follower_count                                                              3
following_count                                                            32
account_creation_date                                              2019-11-06
account_language                                                           th
tweet_language                                                             th
tweet_text                  RT @r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=...
tweet_time                                                2019-11-15 02:03:00
tweet_client_name                                             Twitter Web App
in_reply_to_userid                                                        NaN
in_reply_to_tweetid                                                       NaN
quoted_tweet_tweetid                                                      NaN
is_retweet                                                               True
retweet_userid                     r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=
retweet_tweetid                                         1195160150635634688.0
latitude                                                               absent
longitude                                                              absent
quote_count                                                                 0
reply_count                                                                 0
like_count                                                                  0
retweet_count                                                               0
hashtags                                                                   []
urls                        ['https://www.nationweekend.com/content/image_...
user_mentions                  ['r0m+1f+BAf8vzeHWPfu9BPAw6GsSvdvZUwcnq9oPA=']
Name: 5952, dtype: object
```

## Retweet, Reply, Quote Tweet


### Columns in a row of this data set

```
tweetid                                              1230701691667746817
userid                      g0nRWfm2hXg4rZaGNZy1VnlINammLivutiQwCcbBhcw=
user_display_name           g0nRWfm2hXg4rZaGNZy1VnlINammLivutiQwCcbBhcw=
user_screen_name            g0nRWfm2hXg4rZaGNZy1VnlINammLivutiQwCcbBhcw=
user_reported_location                                               NaN
user_profile_description                                             NaN
user_profile_url                                                     NaN
follower_count                                                         1
following_count                                                        7
account_creation_date                                         2019-12-24
account_language                                                      th
tweet_language                                                        th
tweet_text                                         @armypr_news ‡∏™‡∏∏‡πà‡πÜ‡∏Ñ‡∏£‡∏±‡∏ö
tweet_time                                           2020-02-21 03:52:00
tweet_client_name                                     Twitter for iPhone
in_reply_to_userid                                             229313308
in_reply_to_tweetid                                1230623823910838272.0
quoted_tweet_tweetid                                                 NaN
is_retweet                                                         False
retweet_userid                                                       NaN
retweet_tweetid                                                      NaN
latitude                                                          absent
longitude                                                         absent
quote_count                                                            2
reply_count                                                            0
like_count                                                             0
retweet_count                                                          1
hashtags                                                              []
urls                                                                  []
user_mentions                                              ['229313308']

Name: 21127, dtype: object
```


### How to do these actions(Retweet, Quote Tweet, Reply)?

- How to RT/Reply/QuoteTweet? I'm not much familiar with twitter.

- There are 3 buttons under a particular twitter tweet.

```
@user_id

....tweet text....

```

- (massage balloon) = **reply**, leave a comment under the tweet
- (2 circular arrows - rt button) = will popup menu to **retweet** or **quote tweet**
- (heart) = **like**

You can also do **quote tweet** by copying a tweet link.

**Quote Tweet** is sharing another's tweet and adding your thought on the top of it.



### How do I know which action(RT/QT/reply) a particular row in this raw data is?

#### RT

- from the `is_retweet` column
- from the `tweet_text` column: it will start with `RT @original_user_id: ...text...`. it shows the original user post.

#### Reply

- from the `in_reply...` column. it will link to the original tweet/user id.

#### QT

- from the `quoted_tweet_tweetid` = not null
- if a user RT the quoted tweet: the `is_retweet` is `True`

### interesting columns

- `is_retweet` and `tweet_text`
     
- the id in `in_reply_to...` and `user_mentions` **are not hashed**, can use it to find more infomation
    - numeric user id
    
- `quoted_tweet..` can tell us if a tweet is tweeted by `quote tweet` action (also RT the **quote tweet** from another person)

# Sampling data from users dataframe

In [13]:
user_samples = users.sample(10)

In [14]:
print(user_samples.iloc[0])

userid                      ZKRFvAWaJxybWqGK3hqCdi0ojuwDUAsm0nxhCDExK0=
user_display_name           ZKRFvAWaJxybWqGK3hqCdi0ojuwDUAsm0nxhCDExK0=
user_screen_name            ZKRFvAWaJxybWqGK3hqCdi0ojuwDUAsm0nxhCDExK0=
user_reported_location                                              NaN
user_profile_description                                              -
user_profile_url                                                    NaN
follower_count                                                        0
following_count                                                       4
account_creation_date                                        2020-02-20
account_language                                                     en
Name: 338, dtype: object

#### IO's userid **is hashed**